*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

#div2 h1
{

    padding-left: 90px;
}


input[type=text] {
    width: 40%;
    padding: 12px 38px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    
  }
  
  input[type=email] {
    width: 81%;
    padding: 12px 38px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
  }
  
  input[type=message] {
    width: 81.3%;
    padding: 30px 60px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
  }
  
  .button
  {

    background-color: rgb(241, 166, 56);
    color: black;
    font-size: 20px;
    padding: 17px 28px;
    margin-right: 0%;
    border: none;
  }

  #seccontact1
  {
    
    display:grid;
    grid-template-columns: 56% 44%;

  }

  #seccontact1
  {
   background-image: url(../img/contact.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
  }

  #seccontact1 h2
  {
      font-size: 41px;
      color:white;
      margin-left: 5%;
      margin-right: 20%;
      
  }

  #seccontact1 > div:nth-child(1)
  {
    padding-top: 100px;

  }
  #seccontact1 > div:nth-child(2)
  {
    padding-top: 100px;
    color: white;
    font-family: Esteban;
  }

  .special
  {
      padding-top: 30px;
      color: white;
      margin-left: 5%;
      line-height: 1.3rem;
      font-family: Esteban;

  }

  #seccontact1 p{

    font-family: Esteban;
  }

  #seccontact1 h4{

    font-family: Esteban;
  }

  
.footer h2

{

    font-size: 45px;
}

.footer
{

    display:grid;
    grid-template-columns: 1fr 1fr;;
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    

}

.footer> div:nth-child(2)
{

text-align: right;

}

.footer> div:nth-child(1)
{

    font-family: 'Esteban', serif;
    margin-left: 6.5%;

}

.f2 a
{
    
    background-color: rgb(241, 166, 56);
    color: black;
    font-size: 20px;
    padding: 18px 30px;
    margin-right: 10%;
}

.links a
{
    color: white;
    font-size: 18px;
}

.link2 a
{

    color:rgb(241, 166, 56);
    text-decoration: underline;
    font-family: 'Esteban', serif;
}

.footer p
{
    font-family: 'Esteban', serif;
}

.name
{
    display: inline-block;
}

.input1{

background-color: white;
}

.formpara{

    font-family: Esteban;
}

.box
{
    display:grid;
    grid-template-columns: 1fr 1.4fr;
}


@media (max-width: 575.98px) {


  #seccontact1{

    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 150%;
  }

  #seccontact1 > div:nth-child(1)
  {
    padding-top: 0px;

 }

 .contact-div
 {
   margin-bottom: 50%;
   
 }


 
input[type=text] {
  width: 40%;
  padding: 12px 38px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: grey;
}

input[type=email] {
  width: 81%;
  padding: 12px 38px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color:  grey;
}

input[type=message] {
  width: 81.3%;
  padding: 30px 60px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: grey;
  
}

.formpara{

  color: black;
}



}