*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   /* background-color: black;*/
    
    
}

a{
    text-decoration: none;
}


#header
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
    padding: 32px 32px;
    margin: 0 auto;
    color: black;
    
}

.option_link
{
        display: inline-block;
}

.irv1{

    text-align: center;
    margin-left: 0%;
}

#Linkset1
{
    font-size: 18px;
    font-family: Esteban;    
}

#Linkset1 a
{
    color:black;
    font-size: 18px;
    font-family: Esteban;   
}



#header> div:nth-child(1)
{
    margin-left: 4%;  
}


#header> div:nth-child(2)

{
   font-family: 'Poppins', sans-serif;
    margin: -2%;     
} 


.irv
{
    color: black;
    padding-right: 0px;
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    margin: 0 auto;
    font-weight: 0;
}


#div2 h1
{
    padding-left: 90px;
}



.join
{
    background-color: black;
    padding: 12px 21px;
   font-size: calc(0vh + 1rem);
    color: white;
    

  

}

.join1 {

   
   text-align: right;
}

#bg
{

    background-image: url(../img/bak2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:555px;
    width: 0 auto;
    color: white;
    padding-top: 184px;
        
}

#bg h1
{
   
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 62px;
    white-space: pre-wrap;
  
}

#bg p
{

text-align: center;
font-family: 'Esteban', serif;
font-size: 25px;
margin-top: 3%;
color: white;
background-color: none;


}

/* font-family:'Poppins', sans-serif;
margin: 2rem 0;
    font-family: 'Poppins';
    font-weight: 500;
    
    letter-spacing: 0em;
    text-transform: none;*/


#grid
{

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    background-color: black;
    color: white;
    text-align: center;
    
}

#grid> div:nth-child(1)
{
    background-image: url(../img/img2.jpg);
    height: 465px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 6%;
}

#grid> div:nth-child(2)
{

    background-image: url(../img/img3.jpg);
    height: 465px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 6%;

}

#grid> div:nth-child(3)

{
    background-image: url(../img/img4.jpg); 
    height: 465px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 6%;

}

#grid> div:nth-child(4)

{
    background-image: url(../img/guyhome.jpg);
    height: 465px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-right: 6%;
}

.class
{
    font-size: 40px;
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: black;
    color: white;
}

#grid h3
{

    font-size: 35px;
    padding-top: 30%;
}

#grid p
{

    font-family: 'Esteban', serif;
    margin-top: 3%;
    font-size: 20px;

}


.seeac a
{

    background-color: rgb(241, 166, 56);
    color: black;
    font-size: 20px;
    padding: 18px 30px;

}


.seeac 
{

    text-align: center;
    padding-top: 128px;
    padding-bottom: 164px;
    background-color: black;

}

.about
{

    text-align: center;
    line-height: 2.7rem;
    padding-top: 128px;
    padding-bottom: 128px;
    margin: 0% 15%;
}

.about1
{
    font-size: 18px;
    font-family: 'Esteban', serif;
}

.about p
{
    font-size: 24px;
    font-family: 'Esteban', serif;
}

.secbg
{

    background-image: url(../img/img5.jpg);
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    
    
}

.secbg h2
{
    text-align: center;
    font-size: 45px;
    padding-top: 120px;
    margin: 0% 25%;
}

.secbg p
{
    text-align: center;
    font-size: 18px;
    padding-top: 16px;
    font-family: 'Esteban', serif;

}

.footer h2

{

    font-size: 45px;
}

.footer
{

    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    

}

.footer> div:nth-child(2)
{

text-align: right;

}

.footer> div:nth-child(1)
{

    font-family: 'Esteban', serif;
    margin-left: 6.5%;

}

.f2 a
{
    
    background-color: rgb(241, 166, 56);
    color: black;
    font-size: 20px;
    padding: 18px 30px;
    margin-right: 10%;
}

.links a
{
    color: white;
    font-size: 18px;
}

.link2 a
{

    color:rgb(241, 166, 56);
    text-decoration: underline;
    font-family: 'Esteban', serif;
}

.footer p
{
    font-family: 'Esteban', serif;
}

/*display: block;*/



/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { }



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {



    #grid, #bg{

        grid-template-columns: 1fr;
        height: auto;
    }
    
    #header{
    
        grid-template-columns: 1fr;
        justify-self: center;
        text-align: center;
        
    }
    
    footer{
        grid-template-columns: 1fr;
        height: auto;
    
    }
    
    
    .footer h2
     {
    
        font-size: 10px;
    }
    
    
    .secbg
    {
    
        background-image: url(../img/img5.jpg);
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: white;
        
        
    }
    
    .secbg h2
    {
        
        font-size: 15px;
        
        
    }
    
    .secbg p
    {
        
        font-size: 9px;
        padding-top: 16px;
       ;
    
    }
    
    
    .join
    
    {
       
        background-color: black;
       padding: 10px 5px;
        margin: auto;
        
    }
    .irv
{
    color: black;
    padding: auto;
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    margin: auto;
    font-weight: 0;
}

    .option_link

{
    
    display: inline-block;
    margin-left: 10%;
    
}

.join1 {

   
    text-align: center;
    margin-top: 10%;
 }

 .class
{
    font-size: 30px;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: black;
    color: white;
    text-align: center;
}

#bg h1
{
   
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    white-space: pre-wrap;
  
}

  }

